* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    /* background-color: lightcoral; */
    border: 2px solid gray;
    margin: auto;
    margin-top: 100px;
}

.box {
    width: 160px;
    height: 80px;
    background-color: lightgreen;
    animation: slideIn 4s ease-in-out 0.5s infinite;
    animation-play-state: paused;
}

.is-playing {
    animation-play-state: running !important;
}

.scale-elment {
    transition: transform 1s ease-in-out;
}

.container:hover .box {
    animation-play-state: paused;
}

.container:hover .scale-elment {
    transform: scale(1.1);
}

@keyframes slideIn {
    0% {
        transform: translate(0, 0);
        background-color: lightgreen;
    }

    25% {
        transform: translate(340px, 0);
        background-color: lightblue;
    }

    50% {
        transform: translate(340px, 420px);
        background-color: lightcoral;
    }

    75% {
        transform: translate(0, 420px);
        background-color: tomato;

    }

    100% {
        transform: translate(0, 0);
        background-color: lightgreen;
    }

}